body { 
  font-family: "futura-pt", sans-serif;                                    
  color: #707070;
  box-sizing: border-box;
  padding-top: 140px;
  margin: 0;
}

/* Header Font */

.header-font {
  font-family: 'MoreSugar', sans-serif; 
}

/* Menu */
  
.navbar-brand {
  font-family: 'MoreSugar', sans-serif;   
  font-size: 3rem;
  color: #30c0ff !important;
  z-index: 5;
}
  
.navbar-nav .nav-link {
  color: #707070;
  margin-right: 15px;    
}

.nav-item {
  z-index: 10;
}

.nav-link:hover {
  background-color: #30c0ff;
  color: white;
}

.background-petblue {
  background-color: #30c0ff;
  width: 100vw;
}

.font-petblue {
  color: #30c0ff;
}
  
.social-icons a {
  color:  #30c0ff;
  margin-right: 15px;
}
  
/* Hamburger Menu */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
  
/* Text */
p {
  color: #707070;
  z-index: 10;
}  
  
  
/* Footer */
  
footer {
  text-align: center;
  padding: 20px;
  color: #30c0ff;
}
  
.footer-logo {
  font-family: "futura-pt", sans-serif;
  font-size: 3rem;
  color: #30c0ff;
}

.footer-line {
  border-top: 1px solid #444;
  margin: 20px 0;
}
  
.social-btn {
  border: 1px solid #fff;
  padding: 8px 20px;
  border-radius: 0;
  background: transparent;
  color: blue;
  text-decoration: none;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.social-btn:hover {
  background-color: blue;
  color: blue;
}
  

@font-face {
  font-family: 'MoreSugar'; 
  src: url('../assets/assets_Joanne/fonts/MoreSugar-Regular.ttf') format('truetype'),
       url('../assets/assets_Joanne/fonts/MoreSugar-Extras.ttf') format('truetype'),
       url('../assets/assets_Joanne/fonts/MoreSugar-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}